.marketing.banner
  = image_tag  Banner.where(place: 'bottom_1').first.file.b_385_220.url, class: 'banner'
.marketing.video
  = render 'video'
  =#image_tag 'video.png'
.marketing.banner.omega
  = image_tag  Banner.where(place: 'bottom_2').first.file.b_385_220.url, class: 'banner'

